/* Reset default margins */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Header styles */
header {
    background-color: #333;
    color: black;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

/* Main content styles */
main {
    padding: 20px;

}

section {
    margin-bottom: 30px;
}

h2 {
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}

/* Footer styles */
footer {
    background-color: #000000;
    text-align: center;
    padding: 10px;
    color: #666;
}