/* Reset default margins */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #666666;
}

/* Header styles */
header {
    background-color: #333;
    color: black;
    padding: 20px;
    text-align: center;

}

header h1 {
    margin-bottom: 0;
}

h1 {
    color: black;
    text-align: center;
    padding: 10px;
    border-bottom: #333333 solid 1px;
}

/* Main content styles */
main {
    background-color: gray;
    color: black;
    padding: 20px;
    text-align: center;
}
a {
    display: inline-block;
    color: black;
    text-decoration: none;
    transition: transform 0.2s;
}

a:hover {
    transform: translateY(-3px);
}

a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: blue;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}


section {
text-align: center;
    border-bottom: #333333 solid 10px;
    background-color: gray;
    color: black;

}

h2 {
    color: #333;
    border-bottom: 2px solid #000000;
    padding-bottom: 5px;
}

/* Footer styles */
footer {
    background-color: #000000;
    text-align: center;
    padding: 10px;
    color: #666;
}

#nav-bar-list {
    list-style: none;
}
#footer-list li {
    display: inline-block;
}